{% extends "admin_index.html" %}
{% block content %}
<html>
    <head>
        <title>adminUserAction</title>
        <script src="/static/JS/admin_adminlog.js"></script>
    </head>
    <body>
        <h3>Movimientos de administrador</h3>
        <hr/>
        <br/>
        <table id="tableAdminAction" class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Usuario
                    </th>
                    <th>
                        Denominación Modificada
                    </th>
                    <th>
                        Nueva Cantidad
                    </th>
                    <th>
                        Cantidad Anterior
                    </th>
                    <th>
                        Acción
                    </th>
                    <th>
                        Fecha y hora
                    </th>
                </tr>
            </thead>
            <tbody id="tbodyAdminAction">

            </tbody>
        </table>
    </body>
</html>
{% endblock %}